<a href="https://colab.research.google.com/github/Eddertest/PROYECTOS/blob/main/Estructura_de_datos_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EJEMPLO VARIABLES

In [ ]:
miVariable = 10
print("El valor de miVariable es ", miVariable)

El valor de miVariable es  10

In [ ]:
miVariable = 10
print(miVariable)

10

In [ ]:
a= 10
b= 35
c= a + b
print(c)

45

In [ ]:
x = 8
y = 3
ecuacion = x**2 + y
print("F(x+y) =", ecuacion)

F(x+y) = 67

LISTAS


Las listas son conjuntos de valores que me permiten almacenar mucha información

Se declaran parecido a una variable, pero cada elemento se separa por una coma, y todo el conjunto se encierra entre corchetes

Ejemplo: miLista = [5,4,3,2,1]

In [13]:
planetas = ["Mercurio","Venus","Tierra","Marte","Júpiter","Saturno","Urano","Neptuno"]
# ¿Cuál es el segundo planeta del sistema solar?
print(planetas[3])#rellenar
print(planetas[-1]) #rellenar
planetas.append("Plutón") #  "append" nos permite agregar elementos en una lista.
print(planetas[-1]) #rellenar

Marte
Neptuno
Plutón

Si quiero ver un elemento de la lista, basta con poner el número del elemento entre corchetes.

Ejemplo: miLista[0]

Nota: En Python, los elementos se cuentan a partir del cero, así que cuando nos referimos a miLista[0], me trae el primer elemento (5)

In [14]:
x = [-5,-4,-3,-2,-1,0,1,2,3,4,5]
y = 1
fx = [] #lista vacía

for elemento in x:
    fx.append(elemento**2 + y)

print(f"F(x) = {fx}")

F(x) = [26, 17, 10, 5, 2, 1, 2, 5, 10, 17, 26]

EL RESULTADO ANTERIOR ES IGUAL AL SIGUIENTE

In [16]:
x = [-5,-4,-3,-2,-1,0,1,2,3,4,5]
y = 1
fx = [] #lista vacía

for elemento in x:
    fx.append(elemento**2 + y)

print("F(x) = " , fx)

F(x) =  [26, 17, 10, 5, 2, 1, 2, 5, 10, 17, 26]

DICCIONARIOS:

In [19]:
sensores = {
    "t_sala_control":30,
    "t_oficina1":24,
    "t_deposito":16
}
print("la temperatura de la zona elegida es",sensores["t_deposito"])

la temperatura de la zona elegida es 16